:host {
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr;
  column-gap: 10px;
  padding: 10px;
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px;
}

.search-icon {
  margin-left: 15px;
}
