:host {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.user-info {
  text-align: center;
  font-style: italic;
}

.mat-mdc-row:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
